.course-info {
    position: relative;
    top: 150px;
    padding-left: 150px; 
    padding-right: 150px;
}

.course-info-container {
    display: grid;
    grid-template-columns: 65% 35%;
    border: 3px solid lightgrey;
}

.course-info-block {
    padding: 5px;
    text-align: left;
}

.course-info-name {
    font-weight: bold;
    grid-column: 1 / span 2;
}

.course-info-description {
    grid-column: 1;
    grid-row: 2 / span 2;
}

.course-info-properties {
    grid-column: 2;
    grid-row: 2;
    justify-self: start;
    align-self: self-start;
}

.course-info-buttons {
    grid-column: 2;
    grid-row: 3;
    justify-self: center;
    align-self: self-end;
}