.courses {
    position: relative;
    top: 150px;
    padding-left: 150px; 
    padding-right: 150px;
}

.courses-topbar-container {
    display: grid;
    position: relative;
    padding-bottom: 10px;
}

.courses-topbar-search-panel {
    grid-column: 1;
    justify-self: left;
}

.courses-topbar-button-new {
    grid-column: 2;
    justify-self: right;
}

.courses-list-block {
    padding-bottom: 15px;
}